<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User create</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/addUser.html}" th:object="${user}">
  <label for="username">Введите Имя: </label>
  <input type="text" th:field="*{username}" id="username"/>
  <div th:if="${#fields.hasErrors('userName')}" th:errors="*{username}"></div>
  <br>
  <label for="password">Введите Password: </label>
  <input type="text" th:field="*{password}" id="password"/>
  <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
  <br>
  <label for="email">Введите Еmail: </label>
  <input type="text" th:field="*{email}" id="email"/>
  <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
  <br/>

  <p>
    <label>Roles:
      <input type="checkbox" name="roles"
             th:each="role : ${roles}"
             th:text="${role.getRoleName}"
             th:value="${role.id}"
             th:field="*{getRoles()}"
      />
    </label>
  </p>
  <br><br>
  <input type="submit" value="Создать"/>
</form>


</body>
</html>