
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<body>
<table border="1">
    <tr>
        <th><h1>Username</h1></th>
        <th><h1>Password</h1></th>
        <th><h1>Email</h1></th>
    </tr>

        <th:block th:each="us : ${user}">
            <tr>
                <td th:text="${us.getUsername()}"></td>
                <td th:text="${us.getPassword()}"></td>
                <td th:text="${us.getEmail()}"></td>

            </tr>
        </th:block>

</table>
<form action="/logout">
    <input type="submit" value="LOGOUT">
</form>

</body>
</html>
